/* User */
.user-role-border {
    border-radius: 7px !important;
}

.bd-coress{
    border-radius: 12px !important;
}

.sendDateTD{
    width: 150px !important;
}
.table-title{
    color: #012970 !important;
}
