<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>KWARTZ</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />

    <!-- Google Fonts Nunito & Poppins -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <!---*************************************
      Link Django with index css files only
    ************************************** -->

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Icon Sets -->
    <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/remixicon.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/virtual-select.min.css' %}" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/lateststyle.css' %}" />
    <!-- dataTable Responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.dataTables.min.css' %}" />
  </head>

  <body>
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="d-flex align-items-center">
           <!-- tablet,lap,pc Logo -->

          <!-- <span class="d-none d-lg-block">KWARTZ</span> -->
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <!-- <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span>
            </a>
          </li>
          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                src="{% static 'assets/img/profile-img.jpg' %}"
                alt="Profile"
                class="rounded-circle"
              />
              <span class="d-none d-md-block dropdown-toggle ps-2">Jassa</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6>Jassa</h6>
                <span>Admin Assistant</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-person"></i> <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="profile/change-password.html"
                >
                  <i class="bi bi-eye"></i> <span>Change Password</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-gear"></i> <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="pages-faq.html"
                >
                  <i class="bi bi-question-circle"></i> <span>Need Help?</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i> <span>Sign Out</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-grid"></i> <span>Dashboard</span></a
          >
        </li>
        <!-- Masters nav-iems start here-->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#master-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-menu-button-wide"></i> <span>Master</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>

          <ul
            id="master-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >

            <li>
              <a href="{% url 'department_list' %}">
                <i class="bi bi-circle"></i><span>Department</span>
              </a>
            </li>
            <li>
              <a href="master/mix.html">
                <i class="bi bi-circle"></i><span>Designation</span>
              </a>
            </li>

            <li>
              <a href="master/designation.html">
                <i class="bi bi-circle"></i><span>Location</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- Masters nav-iems ends here-->

        <!-- User -->

        <!-- ncr -->

        <!-- Callibration nav-item -->

      </ul>
    </aside>
    {% block content %}
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Home</h1>
        <!-- <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
          </ol>
        </nav> -->
      </div>
      <section>
        <!-- <select
          multiple
          name="native-select"
          placeholder="Native Select"
          data-search="false"
          class="form-control"
          data-silent-initial-value-set="true"
        >
          <option value="1" disabled>Option 1</option>
          <option value="2">Option 2</option>
          <option value="3" selected>Option 3</option>
          <option value="4" selected>Option 4</option>
          <option value="5">Option 5</option>
          <option value="6">Option 6</option>
        </select> -->
      </section>
      <div class="spacex mb-5"></div>
    </main>
    {% endblock %}
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Datahub Technologies</span></strong
        >. All Rights Reserved
      </div>
    </footer>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!---*************************************
      Link Django with index script files only
    ************************************** -->

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/echarts.min.js' %}"></script>
    <script src="{% static 'assets/js/virtual-select.min.js' %}"></script>
    <!-- Responsive DataTable start here -->
    <script src="{% static 'assets/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.responsive.min.js' %}"></script>
    <!-- Responsive DataTable ends here -->
    <!-- init file start here -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!-- init file ends here -->
  </body>
</html>
