<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>KWARTZ</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />

    <!-- Google Fonts Nunito & Poppins -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

     <!---*************************************
      Link Django with index css files only
    ************************************** -->

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Icon Sets -->
    <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/remixicon.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/virtual-select.min.css' %}">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/lateststyle.css' %}" />
    <!-- dataTable Responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.dataTables.min.css' %}" />
  </head>
  <body>
    <main
      style="
        background-image: url('assets/img/login-bg.jpeg');
        background-size: cover;
      ">
      <div class="container">
        <section
          class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div
                class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
              >
                <div class="card mb-3">
                  <div class="d-flex justify-content-center py-4">
                                      </div>
                  <div class="card-body">
                    <div class="pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">
                        Login to Your Account
                      </h5>
                      <p class="text-center small">
                        Enter your username & password to login
                      </p>
                    </div>
                    <form class="row g-3 needs-validation" method="post" action="{% url 'adlogin' %}" enctype="multipart/form-data">
                        {% csrf_token %}>
                      <div class="col-12">
                        <label for="yourUsername" class="form-label">Username</label>
                        <input
                          type="text"
                          name="username"
                          class="form-control"
                          id="yourUsername"
                          required/>
                        <div class="invalid-feedback">
                          Please enter your username.
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="yourPassword" class="form-label"
                          >Password</label
                        >
                        <input
                          type="password"
                          name="password"
                          class="form-control"
                          id="yourPassword"
                          required
                        />
                        <div class="invalid-feedback">
                          Please enter your password!
                        </div>
                      </div>
                      <div class="col-12"></div>
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">
                          Login
                        </button>
                      </div>
                      <div class="col-12">
                        <p class="small mb-0 text-center">
                          <a href="forgot-password.html">Forgot Password ?</a>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="credits">
                  Designed & Developed by
                  <a href="https://datahubtechnologies.com/"
>Datahub Technologies</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
   <!---*************************************
      Link Django with index script files only
    ************************************** -->

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/echarts.min.js' %}"></script>
    <script src="{% static 'assets/js/virtual-select.min.js' %}"></script>
    <!-- Responsive DataTable start here -->
    <script src="{% static 'assets/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.responsive.min.js' %}"></script>
    <!-- Responsive DataTable ends here -->
    <!-- init file start here -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!-- init file ends here -->
  </body>
</html>
