<!DOCTYPE html>

{% extends 'index.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<body>
    <main id="main" class="main">
        <div class="pagetitle">
          <h1>Add Employee</h1>
          <!-- <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
              <li class="breadcrumb-item">Master</li>
              <li class="breadcrumb-item">
                <a href="project-allocation.html">Project Allocation</a>
              </li>
              <li class="breadcrumb-item active">Add Project Allocation</li>
            </ol>
          </nav> -->
        </div>
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
              <div class="card border border-primary p-4">
                <h5 class="card-heading">
                  Enter The Details Of Employee :
                </h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Join_date<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.join_date }}
                            {{ form.join_date.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Employee Number<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.emp_no }}
                            {{ form.emp_no.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Name<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Phone<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Emp Start Date<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.emp_start_date }}
                            {{ form.emp_start_date.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Emp End Date<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.emp_end_date }}
                            {{ form.emp_end_date.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Photo<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.photo }}
                            {{ form.photo.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Status<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.status }}
                            {{ form.status.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Department<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.department }}
                            {{ form.department.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Designation<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.designation }}
                            {{ form.designation.errors }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department Name"
                          class="col-md-4 col-lg-3 col-form-label">Location<span class="text-danger">*</span></label>
                       
                        <div class="col-md-8 col-lg-9">
                            {{ form.location }}
                            {{ form.location.errors }}
                        </div>
                      </div>
                      <div>
                        <h4>Skills</h4>
                        <div id="skills-formset">
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <div class="skill-form">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Skill Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form.skill_name }}
                                            {{ form.skill_name.errors }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Skill Description</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form.description }}
                                            {{ form.description.errors }}
                                        </div>
                                    </div>
                                  
                                        
                                  
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" id="add-more-skill">Add</button>
                       
                    <br>
                    <br>
                    <button type="submit" style="display: block; margin: 0 auto;">Save</button>

                </form>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="project-allocation.html">
              <button class="btn btn-outline-success">
                <i class="bi bi-arrow-left-square me-1"></i>Back
              </button>
            </a>
          </div>
        </section>
        <div class="spacex mb-5"></div>
      </main>

      <script type="text/javascript">
        $(document).ready(function () {
        
            $('#department-dropdown').change(function () {
                var url = "{% url 'designations' %}";
                var departmentId = $(this).val();
                console.log("departmentId",departmentId)

                $.ajax({
                    url: url,
                    data: {
                        'department': departmentId
                    },
                    success: function (data) {
                        $('#designation-dropdown').html('');
                        $.each(data, function (key, value) {
                            $('#designation-dropdown').append('<option value="' + value.designation_id + '">' + value.designation_name + '</option>');
                        });
                    }
                });
            });
           
        });
    </script>

   <script type="text/javascript">
      $(document).ready(function() {
          // Add more skill form
          $("#add-more-skill").click(function() {
              var formIdx = $("#id_form-TOTAL_FORMS").val();
              $("#skills-formset").append($("#empty-form").html().replace(/__prefix__/g, formIdx));
              $("#id_form-TOTAL_FORMS").val(parseInt(formIdx) + 1);
          });

          // Delete skill form
          $(document).on("click", ".delete-skill", function() {
              $(this).closest(".skill-form").remove();
          });
      });
  </script>

  <script type="text/template" id="empty-form">
    <div class="skill-form">
        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label">Skill Name</label>
            <div class="col-md-8 col-lg-9">
                <input type="text" name="form-__prefix__-skill_name" class="form-control" required id="id_form-__prefix__-skill_name">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label">Skill Description</label>
            <div class="col-md-8 col-lg-9">
                <textarea name="form-__prefix__-description" class="form-control" rows="3" required id="id_form-__prefix__-description"></textarea>
            </div>
        </div>
        <button type="button" class="delete-skill">Delete</button>
    </div>
</script>
    
</body>
</html>
{% endblock %}
