<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Employee Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item">Master</li>
        <li class="breadcrumb-item active">Employee Details</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card border border-primary p-4">
          <table class="table">
            <tbody>
                    
              <tr>
                <th scope="col" class="text-md dt-nowrap">Join_date </th>
                <td class="dt-nowrap">{{ employee.join_date }}</td>
               </tr>
               <tr>
                <th scope="col" class="text-md dt-nowrap">Employee No</th>
                <td class="dt-nowrap">{{ employee.emp_no }}</td>
              </tr>
              <tr>
                <th scope="col" class="text-md dt-nowrap">Name</th>
                <td class="dt-nowrap">{{ employee.name }}</td>
              </tr>
              <tr>
                <th scope="col" class="text-md dt-nowrap">Photo</th>
                <td class="dt-nowrap">
                 
                  <img src="{{employee.photo.url}}" alt="Employee Photo" style="max-height: 100px;">
             
            </td>
            </tr>
            <tr>
                <th scope="col" class="text-md dt-nowrap">Phone</th>
                <td class="dt-nowrap">{{ employee.phone }}</td>
            </tr>
            <tr>
                <th scope="col" class="text-md dt-nowrap">Address</th>
                <td class="dt-nowrap">{{ employee.address }}</td>
            </tr>
            <tr>
                <th scope="col" class="text-md dt-nowrap">Start Date</th>
                <td class="dt-nowrap">{{ employee.emp_start_date }}</td>
            </tr>
            <tr>
                <th scope="col" class="text-md dt-nowrap">End Date</th>
                <td class="dt-nowrap">{{ employee.emp_end_date }}</td>
            </tr>
            <tr>
                <th scope="col" class="text-md dt-nowrap">Department</th>
                <td class="dt-nowrap">{{ department}}</td>
            </tr>
            <tr>
                <th scope="col" class="text-md dt-nowrap">Designation</th>
                <td class="dt-nowrap">{{designation}}</td>
            </tr>
            <tr>
                <th scope="col" class="text-md dt-nowrap">Location</th>
                <td class="dt-nowrap">{{location}}</td>
            </tr>
          
            <tr>
              <th>Skills</th>
              <td>
                  {% for skill in skills %}
                      {{ skill.skill_name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
              </td>
               
            </tr>
          
             
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="project-allocation.html">
        <button class="btn btn-outline-success">
          <i class="bi bi-arrow-left-square me-1"></i>Back
        </button>
      </a>
    </div>
  </section>
  <div class="spacex mb-5"></div>
</main>
     
</body>
</html>
{% endblock %}
